<!-- Author: Adil Hussain
Student Number: 300777642
COMP308 Assignment 1
HTML, CSS, Javascript
Page: About -->
<% include ../partials/header.ejs %>
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>About Me</h1>
          <h3>Hi! My Name is Adil Hussain</h3>
          <div>
          <hr>
            <p>I am 21 years old. I was born in Karachi, Pakistan. I spent my childhood in the Middle East in the country of Oman.
            I completed High School studying the Edxcel A level Board at Bangladesh School Muscat.
            I moved to Toronto, Canada for further Studies.</p>
            <p>Currently I am doing an Advanced Diploma in Software Engineering Technology at Centennial College.
            My choices of Programming Languages are C# and Java
            Courses at Centennial College have also provided me knowledge regarding:</p>
            <ul>
              <li>Web Development</li>
              <li>Database Management</li>
              <li>Data Warehousing and Data Mining</li>
              <li>Android Development</li>
              <li>Object Oriented Software Development</li>
              <li>Game Programming</li>
              <li>Project Management and Analysis</li>
            </ul>
            <div class="Polaroid">
            <img src="/Images/htmlimage.jpg" height= "250" width="445">
            <div class="imagetext">
              <p>HTML</p>
            </div>
          </div>
            <hr>
          </div>
          <div>
          <hr>
            <h3>Hobbies:</h3>
            <p>Playing Video Games is a great past-time for me. Lately I have been getting into Overwatch, the new First Person Shooter From Blizzard Entertainment. If
            you want to play add me at InfernoHorus#2980. Before Overwatch I was a loyal fan to League Of Legends and World of Warcraft.
            Other than Online Multiplayer Games, I really enjoy Real Time Strategy and Survival Games. Favourites include: Civilization 6, Subnautica and Ark Survival</p>
            <div class="Polaroid">
            <img src="/Images/overwatch.jpg" height= "250" width="445">
            <div class="imagetext">
              <p>Overwatch</p>
            </div>
          </div>
            <hr>
          </div>
          <div>
          <hr>
            <h3>Sports</h3>
            <p>Soccer and Badminton are my favourite outdoor sports. I have also been on my highschool soccer team as a defender. My favourite soccer team is FC Barcelona. 
            I have also developed a liking to Cricket as I watch it often with my friends.</p>
            <div class="Polaroid">
            <img src="/Images/soccerImage.jpg" height= "250" width="445">
            <div class="imagetext">
              <p>Soccer</p>
            </div>
          </div>
          <hr>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer">
    &copy; 2017 Adil_Hussain_300777642 
    </div>
<% include ../partials/footer.ejs %>
